body
{background-color:#115571}



.destacado
{font-family:"Arial";
  font-style:italic;
   color:##31afb4;
    font-size:20px;
}

p
{color:#712d11;
font-family:"Times new roman";
font-style:italic;
font-size=300px;}